body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdfdfd;
  color: #222323;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  background: #fdfdfd;
  color: #222323;
} */

.logo {
  font-family: 'Lexend Peta', sans-serif;
  grid-column-start: 2;
  /* text-align: center */
}

nav {
  display: grid;
  text-align: left;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  height: 10vh;
  /* border: 1px solid black; */
  align-items: center;
}

.hidden {
  display: none;
}

.sub-nav {
  margin: 30px 20px;
  display: flex;
  justify-content: space-around;
}

.sub-nav > i {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 7px;
  color: white;
  background: linear-gradient(-45deg, #222323, rgb(58, 58, 58));
  /* background: #222323; */
  font-size: 16px;
  /* font-family: popper; */
}

tr {
  font-size: 12px;
  text-align: center;
}

/* .container {
  width: 100%;
  background: transparent !important;
  /* height: 100vh; */
  /* position: relative; */
  /* background: #333; */

.login, .add-product {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin-top: 55px;
  background: #fdfdfd
}

.logo-nav {
  text-align: center;
  margin-top: 20px;
  font-family: 'Lexend Peta', sans-serif;
  background: #fdfdfd;
}

input {
  border: none !important;
  border-bottom: 1px solid #e3e3e3 !important;
  width: 100%;
  display: inline;
  line-height: 40px;
}

.login > *, .add-product > * {
  margin: 10px;
}

.login > form > * {
  margin: 10px;
}

.add-product > form > * {
  margin: 10px 0px;
}

.is-active {
  display: grid;
  grid-template-columns: 10% 40% 50%;
}

.is-active > * {
  line-height: 12px;
}

.login-title {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px 0;
  font-size: 3rem;
  font-weight: 100;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login > p {
  font-size: 14px;
  text-align: center;
}

.login > button , .add-product > button, .display-product > button {
  border: 1px solid #e3e3e3;
  line-height: 40px;
  border-radius: 5px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas {
  z-index: -1;
}

p > i:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: 150px;
  height: 100vh;
  list-style: none;
  animation-name: sidebar;
  animation-duration: .7s;
  border-right: 1px solid #dee2e7
}

.sidebar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}

.sidebar > ul > li {
  font-size: 13px;
  margin: 16px 0 16px -24px;
}

.right-side {
  margin-left: 150px;
  animation-name: body;
  animation-duration: .7s;
}

.tags {
  display: grid;
  grid-template-columns: 10% 25% 10% 25% 10% 25%;
  grid-template-rows: 1fr 1fr;
  /* align-items: flex-start; */
}
.tags > * {
  /* line-height: 20px; */
  align-self: center;
  margin: 4px;
}

.deactivate, .activate, .update {
  border-radius: 5px;
  border: none;
  margin: 2px;
}

.deactivate {
  color: white;
  background: linear-gradient(-45deg, red, rgb(207, 41, 0))
}

.activate {
  color: white;
  background: linear-gradient(-45deg, green, rgb(0, 184, 0))
}

.update {
  background: none;
  border: 1px solid #292929
}

.display-product > label {
  margin-top: 25px;
}

.main-image > img {
  width: 300px;
}

.sub-images > img, .sub-images > span {
  width: 80px;
  margin: 5px;
  /* border: 1px solid #e3e3e3; */
}

.sub-images > span {
  display: inline;
}

.display-product-container {
  width: 80%;
  margin: 0 auto;
}

.display-product > button {
  margin-top: 15px;
}

.loading { 
  font-size: larger;
  font-weight: 600;
  text-align: center;
}

.danger {
  color: red;
}

.delete-photos {
  display: flex;
  flex-direction: column;
}

.delete-photos > img {
  width: 80px;
  margin: 5px;
}

.delete-photos > i {
  color: #c11413;
}

.delete-photos > i:hover {
  cursor: pointer;
}

@keyframes sidebar {
  0% {width: 0px}
  100% {width: 150px}
}

@keyframes body {
  0% {margin-left: 0px}
  100% {margin-left: 150px}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .container {
    width: 80%;
  }
  .right-side {
    margin-left: 200px;
  }
  .sidebar {
    width: 200px;
  }

  .sidebar > ul > li {
    font-size: 16px;
    margin: 16px 0 16px -8px;
  }

  @keyframes sidebar {
    0% {width: 0px}
    100% {width: 200px}
  }
  
  @keyframes body {
    0% {margin-left: 0px}
    100% {margin-left: 200px}
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 50%;
  }
  .sidebar {
    width: 300px;
  }
  .right-side {
    margin-left: 300px;
  }
  .display-product-page {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .main-image > img {
    width: 420px;
  }

  @keyframes sidebar {
    0% {width: 0px}
    100% {width: 300px}
  }
  
  @keyframes body {
    0% {margin-left: 0px}
    100% {margin-left: 300px}
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
}